GitPython
MarkupSafe
PyYAML
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
appdirs
asttokens
attrs
autocommand
backports.tarfile
beautifulsoup4
bitsandbytes
bs4
certifi
charset-normalizer
click
colorama
comm
cssselect
datasets
debugpy
decorator
dill
exceptiongroup
executing
fake-useragent
filelock
flet
frozenlist
fsspec
gitdb
hf-xet
huggingface-hub
idna
importlib-metadata
inflect
ipykernel
ipython
ipython-pygments-lexers
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jedi
jinja2
joblib
jupyter-client
jupyter-core
langcodes
langdetect
language-data
lxml
lxml-html-clean
marisa-trie
matplotlib-inline
more-itertools
mpmath
multidict
multiprocess
nest-asyncio
networkx
nltk
numpy
packaging
pandas
parse
parso
pickleshare
pillow
pip
platformdirs
prompt-toolkit
propcache
protobuf
psutil
pure-eval
py-spy
pyarrow
pydantic
pydantic-core
pyee
pygments
pyppeteer
pyquery
python-dateutil
pytz
# pywin32
pyzmq
regex
requests
requests-file
requests-html
safetensors
scikit-learn
scipy
sentence-transformers
sentry-sdk
setuptools
six
smmap
snakeviz
soupsieve
stack-data
sympy
tabulate
termcolor
threadpoolctl
tiktoken
tldextract
tokenizers
tomli
tornado
tqdm
traitlets
transformers
typeguard
typing-extensions
typing-inspection
tzdata
urllib3
validators
w3lib
wandb
wcwidth
websockets
wheel
xxhash
yarl
zipp
